/.idea/
/target/
/edamame_foundation.xcodeproj/project.xcworkspace/xcshareddata/
/edamame_foundation.xcodeproj/project.xcworkspace/xcuserdata/
/edamame_foundation.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/edamame_foundation.xcodeproj/xcuserdata/
/macos/target/
